.grid{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: repeat(12, 1fr)/repeat(12, 1fr);
}

.client-container-profile {
  grid-column: 1 / span 12;
  grid-row: 2 / span 10;
  display: flex;
  flex-direction: column;
}
@media(max-width: 960px) {
  .client-container-profile {
    grid-column: 1 / span 12;
    grid-row: 2 / span 10;

  }
}
.card-client-information {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  flex: 0 0 58%;


  p {
    font-weight: lighter;
    color: #4E4F49;
    font-family: Roberto;
    font-size: larger;
    padding-bottom: 8px;
  }
   h4 {
    font-weight: lighter;
    color: #4E4F49;
    font-family: Roberto;
    font-size: 20px;
    padding-bottom: 8px;
    text-align: center;
  }
  i {
    margin: 6px;
    height: 17px;
  }
}
.card-client-bio {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 21px;
  margin-left: 8px;
  margin-right: 8px;

  p {
    font-size: 12px;
    font-weight: 750;
    margin-block-end: 1em;
    line-height: 1.42857;
    color: #333333;
    display: flex;
    width: 94px;
  }
  div{
    display: flex;
    flex-direction: row;
  }
  .space{
    width: 133px;
  }
  h4 {
    font-weight: lighter;
    color: #4E4F49;
    font-family: Roberto;
    font-size: 19px;
    padding-bottom: 8px;
    line-height: 1.1;
  }

}

.card-client-name {
  display: flex;
  flex-direction: row;
}

.card-client-information-border {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

